* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}
h1, h2 {
    color: #004085;
}