table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #000;
}
th, td {
    padding: 12px;
    border: 1px solid #000;
    text-align: left;
}
th {
    background-color: #e9ecef;
    color: #000;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.actions {
    white-space: nowrap;
    text-align: center;
}
.actions form {
    margin-left: 5px;
}